body {
    background-image: url('https://wallpapercave.com/wp/wp2611576.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: navy;
}

h1 {
    font-family: 'Kanit', sans-serif;
    font-weight: 700; /* bold */
    color: white;                
    -webkit-text-stroke: 1.5px black;
    font-weight: bold;          
    text-align: center;           
}

p {
    color: white;
    -webkit-text-stroke: 0.2px black;
    font-weight: bold;
    text-indent: 40px;         
    display: block;
    text-align:justify;    
}

h3,ol {
    color: white;
    -webkit-text-stroke: 0.2px black;
    font-weight: bold;
}
li {
    color: white;
    -webkit-text-stroke: 0.2px black;
    font-weight: bold;
    text-align: left;   
}

img {
    width: 300px;       
    height: auto; 
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    display: block;
    margin: 0 auto;
    transition: transform 2s ease;
}
.gif-container img:hover {
  transform: scale(0.8);
  transition: transform 0.5s ease;
}

img:hover {
    transform: scale(2);
    transition: transform 0.5s ease;
}

button {
    color: white;
    border: 5px solid navy;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(2);
}


.gif-container {
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: flex-start;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.gif-container img {
  height: auto;
  border-radius: 10px;
}

.gif-container.hide {
  opacity: 0;
  transform: translateY(100%);
}

.gif-bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.gif-bottom img {
  width: 200px;
  height: auto;
}


.gif-left {
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}


.gif-right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}


.close-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-weight: bold;
  cursor: pointer;
  margin-left: -15px;
  margin-top: -10px;
  transition: transform 0.2s ease;
}
.close-btn:hover {
    transform: scale(0.7);
}

#splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #001f3f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  z-index: 1050;
  transition: transform 1s ease, opacity 1s ease;
}


#splash.hide {
  transform: translateY(-100%);
  opacity: 0;
}

.cool-box {
  width: fit-content;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  border: 2px solid #00aaff;
  border-radius: 15px;
  color: white;
  font-size: 1.2rem;
  box-shadow: 0 6px 15px rgba(0,0,0,0.4); 
  text-align: center;
  margin: 0 auto;   
}

.zoom-icon {
  position: relative;
  text-align: center;
  left: 8%;
  bottom: 30px;
  opacity: 0.8;

}